<div class="filter-top" id="scrollUp">
    <i class="iconfont icon-jiantou"></i>
</div>
<!--<div class="filter-menu">
    <div class="filter-menu-list ts-5">
        <ul class="dis-box">
            <li class="box-flex position-rel">
                <a href="{url('/')}" class="product-div-link"></a>
                <i class="iconfont icon-home"></i><em>首页</em>
            </li>
            <li class="box-flex position-rel">
                <a href="{url('/category')}" class="product-div-link"></a>
                <i class="iconfont icon-caidan"></i><em>分类</em>
            </li>
            <li class="box-flex j-search-input position-rel">
                <i class="iconfont icon-sousuo"></i><em>搜索</em>
            </li>
            <li class="box-flex filter-nenu-cart position-rel">
                <a href="{url('/cart')}" class="product-div-link"></a>
                <i class="iconfont icon-gouwuche"></i><em>购物车</em>
            </li>
            <li class="box-flex position-rel">
                {if $filter}
                <a href="{url('drp/user/index')}" class="product-div-link"></a>
                <i class="iconfont icon-geren"></i><em>{$custom}中心</em>
                {elseif $community}
                <a href="{url('community/index/index')}" class="product-div-link"></a>
                <i class="iconfont icon-geren"></i><em>社区</em>
                {else}
                <a href="{url('/user')}" class="product-div-link"></a>
                <i class="iconfont icon-geren"></i><em>我</em>
                {/if}
            </li>
            <li class="w"></li>
        </ul>
    </div>
    <div class="filter-menu-title"></div>
</div>-->
