<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>可视化管理控制台</title>
    <link rel=stylesheet href=http://at.alicdn.com/t/font_ji2u8sonenjqbyb9.css media=screen title="no title">
    <link rel=stylesheet href=http://at.alicdn.com/t/font_om8zpb0ccjnel8fr.css media=screen title="no title">
    <link href=__ROOT__/static/css/app.5f8ac5fbb169ad7449f4e1041a22bb5a.css rel=stylesheet>
    <script>var ROOT_URL = '__ROOT__/';</script>
  </head>
  <body>
    <div id="app"></div>
    <script type=text/javascript src=__ROOT__/static/js/manifest.c0c14f469a3fce91a9b1.js></script>
    <script type=text/javascript src=__ROOT__/static/js/vendor.74faed0bce0eb324927a.js></script>
    <script type=text/javascript src=__ROOT__/static/js/app.76284863107e9edf5f75.js></script>
  </body>
</html>
