<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>{$page_title}</title>
    <link rel=stylesheet href=http://at.alicdn.com/t/font_ji2u8sonenjqbyb9.css media=screen title="no title">
    <link rel=stylesheet href=http://at.alicdn.com/t/font_om8zpb0ccjnel8fr.css media=screen title="no title">
    <link href=__ROOT__/static/css/app.72c21d91606ba8d4a707ace327d0b99f.css rel=stylesheet>
    <script>var ROOT_URL = '__ROOT__/';</script>
</head>
<body>
<div id="app"></div>
<script type=text/javascript src=__ROOT__/static/js/manifest.e9715e189b560ba7f5b1.js></script>
<script type=text/javascript src=__ROOT__/static/js/vendor.0af9040c638541cb8e57.js></script>
<script type=text/javascript src=__ROOT__/static/js/app.0847133529369cf2eaa6.js></script>
</body>
</html>
